In [1]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [2]:
np.random.seed(101)

In [3]:
df = pd.DataFrame(randn(5,4), ['a', 'b', 'c', 'd', 'e'], ['w', 'x', 'y', 'z'])

In [4]:
df
# w, x, y, z são series que compartilham o msm index

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

### Select columns

In [6]:
display(df["w"])
print(type(df['w']))

a    2.706850
b    0.651118
c   -2.018168
d    0.188695
e    0.190794
Name: w, dtype: float64

<class 'pandas.core.series.Series'>

In [8]:
df[['x', 'z']]

          x         z
a  0.628133  0.503826
b -0.319318  0.605965
c  0.740122 -0.589001
d -0.758872  0.955057
e  1.978757  0.683509

### Creating column

In [9]:
df['new']

KeyError: 'new'

In [10]:
df['new'] = df['w'] + df['y']

In [11]:
df['new']

a    3.614819
b   -0.196959
c   -1.489355
d   -0.744542
e    2.796762
Name: new, dtype: float64

In [12]:
df

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  3.614819
b  0.651118 -0.319318 -0.848077  0.605965 -0.196959
c -2.018168  0.740122  0.528813 -0.589001 -1.489355
d  0.188695 -0.758872 -0.933237  0.955057 -0.744542
e  0.190794  1.978757  2.605967  0.683509  2.796762

### Drop column

In [13]:
df.drop('new', axis=1) # não esta afetenado o DataFrame

# axis = 0 -. row
# axis = 1 -> column

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [14]:
df

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  3.614819
b  0.651118 -0.319318 -0.848077  0.605965 -0.196959
c -2.018168  0.740122  0.528813 -0.589001 -1.489355
d  0.188695 -0.758872 -0.933237  0.955057 -0.744542
e  0.190794  1.978757  2.605967  0.683509  2.796762

In [15]:
df.drop('new', axis=1, inplace=True)
# inplace = True -> O comando vai afetar o DataFrame

In [16]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

### Drop row

In [17]:
df.drop('e', inplace=True)

# axis = 0 (Default)

In [18]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057

In [20]:
print(df.shape)
print(df.ndim)

(4, 4)
2

### Select rows

In [26]:
df.loc['b']

w    0.651118
x   -0.319318
y   -0.848077
z    0.605965
Name: b, dtype: float64