In [ ]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [2]:
np.random.seed(101)

In [ ]:
df = pd.DataFrame(randn(5,4), ['a', 'b', 'c', 'd', 'e'], ['w', 'x', 'y', 'z'])

In [ ]:
df
# w, x, y, z são series que compartilham o msm index

### Select columns

In [ ]:
display(df["w"])
print(type(df['w']))

In [ ]:
df[['x', 'z']]

### Creating column

In [ ]:
df['new']

In [ ]:
df['new'] = df['w'] + df['y']

In [ ]:
df['new']

In [ ]:
df

### Drop column

In [ ]:
df.drop('new', axis=1) # não esta afetenado o DataFrame

# axis = 0 -. row
# axis = 1 -> column

In [ ]:
df

In [ ]:
df.drop('new', axis=1, inplace=True)
# inplace = True -> O comando vai afetar o DataFrame

In [ ]:
df

### Drop row

In [ ]:
df.drop('e', inplace=True)

# axis = 0 (Default)

In [ ]:
df

In [ ]:
print(df.shape)
print(df.ndim)

### Select rows

In [ ]:
df.loc['b'] # pelo rotulo

In [ ]:
df.iloc[1] # pelo index

In [ ]:
df.loc['b', 'y']
# linha b coluna y

In [ ]:
df.loc[['a', 'b'], ['w', 'y']]

## Conditional Selection

In [ ]:
bool_df = df > 0
bool_df

In [ ]:
df[bool_df]
# os que não correspondem a condição
# retornam como NaN

In [ ]:
df[df>=0.1]

In [ ]:
df

In [ ]:
df['w']>0

In [ ]:
df['w']

In [ ]:
df[df['w']>0]

In [ ]:
resultdf = df[df['w']>0]

In [ ]:
resultdf

In [ ]:
resultdf['x']

In [ ]:
df[df['w']>0]['x']

In [ ]:
df[df['w']>0][['x', 'z']]

In [ ]:
boolser = df['w']>0
result = df[boolser]

In [ ]:
result

In [ ]:
result[['y', 'x']]

In [ ]:
df[(df['w'] > 0) & (df['y'] < 0)]

# & => and
# | => or

## More Index Details

In [ ]:
df

In [ ]:
df.reset_index()

In [ ]:
df

In [ ]:
newind = 'CA NY WY OR CO'.split()

In [ ]:
df['States'] = newind

In [ ]:
df

In [ ]:
df.set_index('States', inplace=True)

In [ ]:
df

## Multi-Index and Index Hierarchy

In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [3]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))
print(hier_index)
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [4]:
df = pd.DataFrame(randn(6, 2), hier_index, ['A', 'B'])

In [5]:
df

             A         B
G1 1  2.706850  0.628133
   2  0.907969  0.503826
   3  0.651118 -0.319318
G2 1 -0.848077  0.605965
   2 -2.018168  0.740122
   3  0.528813 -0.589001

In [6]:
df.loc['G1']

          A         B
1  2.706850  0.628133
2  0.907969  0.503826
3  0.651118 -0.319318

In [7]:
df.loc['G1'].loc[1]

A    2.706850
B    0.628133
Name: 1, dtype: float64

In [8]:
df.index.names

FrozenList([None, None])

In [9]:
df.index.names = ['Groups', "Num"]

In [10]:
df

                   A         B
Groups Num
G1     1    2.706850  0.628133
       2    0.907969  0.503826
       3    0.651118 -0.319318
G2     1   -0.848077  0.605965
       2   -2.018168  0.740122
       3    0.528813 -0.589001

In [12]:
print(df.loc['G2'].loc[2, 'B'])
print(df.loc['G2'].loc[2]['B'])

0.7401220570561068
0.7401220570561068

In [16]:
df.loc['G2', 2]['B']

0.7401220570561068

In [21]:
df.xs(1, level="Num")

               A         B
Groups
G1      2.706850  0.628133
G2     -0.848077  0.605965